{% for movie in movies_html %}
    <div class="movie-card">
        <h2>{{ movie.Title }}</h2>
        <p>{{ movie.director }}</p>

        <h4 class="font-semibold mt-2">Showtimes:</h4>
        <ul class="text-sm">
            {% for show in movie.showtimes.all %}
                <li>
                    <strong>{{ show.show_time|time:"g:i A" }}</strong> 
                    at {{ show.cinema.name }}
                </li>
            {% empty %}
                <li class="text-gray-500">No showtimes scheduled.</li>
            {% endfor %}
        </ul>
        
    </div>
{% endfor %}